<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmssZ"/>
    <!-- Appender Configuration [File] -->
    <appender name="MAIN" class="ch.qos.logback.core.FileAppender">
        <file>TPB-${bySecond}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERR" class="org.multicoder.pollbot.util.LazyFileAppender">
        <file>TPBError-${bySecond}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="Twitch4J" level="INFO" additivity="false">
        <appender-ref ref="MAIN"/>
    </logger>
    <logger name="TwitchPollBot" level="INFO" additivity="false">
        <appender-ref ref="MAIN"/>
    </logger>
    <logger name="TwitchPollBotError" level="ERROR" additivity="false">
        <appender-ref ref="ERR"/>
    </logger>

    <!-- Appender Output Configuration -->
    <root level="ALL">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERR"/>
    </root>
</configuration>